body {
    background-color: gray;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    color: white
}
.container {
    padding-right: 3.9375rem;
    padding-left: 3.9375rem;
    margin-right: auto;
    margin-left: auto;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    padding-right: 10px;
}

a{
    color: white;
    font-family: Helvetica Neue ,Helvetica,Arial,sans-serif;
}

